<!<DOCTYPE html>
  <html ng-app="demoApp">
    <head>
      <meta charset="utf-8">
      <title>Mean App</title>
      <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body ng-controller="appController as empl">
      <div>
        <h1> Personnel Manager </h1>
      </div>
      <div>
        <ul id="tabs" class="tab">
          <li><a ng-click="empl.setTab(0)">Basic Information</a></li>
          <li><a ng-click="empl.setTab(1)">Address</a></li>
          <li><a ng-click="empl.setTab(2)">Work Schedule</a></li>
          <li><a ng-click="empl.setTab(3)">Salary / Pay Information </a></li>
          <li><a ng-click="empl.setTab(4)">Job / Position Information </a></li>
          <li>{{empl.tab}}</li>
        </ul>
        <div id="basic" ng-show="empl.isSet(0)" ng-controller="basicController as person">
          <p>{{empl.people.name}}</p>
          <p>{{empl.people.last}}</p>
          <p>{{empl.people.DOB | date: yyyy/mm/dd }}</p>
          <p>{{empl.people.gender}}</p>
            <button class="button">Change</button>
        </div>
        <div id="basic" ng-show="empl.isSet(1)">
          <p>{{empl.people.Address.street}}</p>
          <p>{{empl.people.Address.number}}</p>
          <p>{{empl.people.Address.City}}</p>
        </div>
      </div>
    </body>
    <script src="dist/bundle.js"></script>
  </html>
