ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: "#f1f1f1";
  font-family: Helvetica;
}

ul.tab li {
  float: left;
}

ul.tab li a {
  display:inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-shadow: 1px;
}

ul.tab li a:hover {
  background-color: #ddd;
}

ul.tab li a, .active{
  background-color: #ccc;
}

#basic {
  font-family: Helvetica;
  text-shadow: 5px;
  padding: 14px 16px;
  margin: 0px;
  display: inline-block;
}
.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    border: 2px solid #008CBA
}

.button:hover {
  background-color: #008CBA;
  color: white;
}

input {
  width: 100%
}

.ng-invalid.ng-dirty {
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
}
